<% title t('site.about') %>
<div class="row">

  <div class="large-8 large-centered column">
  
    <div class="panel radius">

      <p>
      Grounds receives a program, compiles and runs the program inside a docker container, 
      and returns the output. Each container is destroyed after a run.
      </p>
      
      <p>
        However Grounds has some limitations:
        
        <ul>
          <li>
            The only communication a grounds program has to the outside world is by writing to
            standard output and standard error.
          </li>
          
          <li>
            Grounds doesn't support HTML, CSS and Javascript, and there is no plan to do it
            in the future. Checkout the awesome <a href="http://jsfiddle.net/">JS Fiddle</a> for that.
          </li>
        </ul>
        
      </p>
      
      <p>
      Grounds strives to use the latest stable release of each supported language. If you find
      that your favorite language is not up to date, you are welcomed to open an issue on
      <a href="https://github.com/grounds/grounds.io/issues/new">GitHub</a>.
      </p>
      <p>
      Pull requests are also welcomed. There is a lot of documentation on the official 
      <a href="https://github.com/grounds/grounds.io">repository</a> to help
      new contributors getting started.
      </p>

    </div>

    <center>
    <img class="circle-img" src="https://secure.gravatar.com/avatar/6b030f9d40af0aacef77ba4ba2076985?s=128" alt="Adrien Folie" />

    <h5>ADRIEN FOLIE</h5>
    <%= link_to('www.foliea.io', 'http://www.foliea.io') %>
    </center>

  </div>

</div>
