$editor-size: rem-calc(400);

.editor {
  @extend .row;
}

.editor-header {
  background-color: $primary-color;
  border-radius: 3px 3px 0 0;
  padding: rem-calc(10) rem-calc(10);
  @include border(left top right);
}

.editor-body {
  height: $editor-size;
  border-radius: 0 0 3px 3px;
  @include border;
}

.controls-up {
  @extend .spaced-row;
}

.console {
  @extend .panel;
  @extend .row;
  @extend .rounded;
  @extend .top-buffer;

  overflow: auto;
  overflow-y: hidden;

  .waiting {
    color: $link-hover-color;
  }
  .stderr {
    color: $error-color;
  }
  .status {
    color: green;
  }
}

.controls-down {
  @extend .spaced-row;
}

.shortcuts {
  @extend .dropdown-content;

  list-style: none;
  padding: rem-calc(10);

  li {
    margin: rem-calc(10) 0;
    cursor: initial;

    &:hover {
      background-color: white;
    }

    span {
      @extend .button;
      cursor: initial;

      &:hover, &:focus {
        background-color: $secondary-color;
      }
    }
  }
}
