$buffer: rem-calc(20);
$primary-color: #f2f2f2;
$primary-light-color: adjust-color($primary-color, $lightness: 5%);
$primary-hover-color: adjust-color($primary-color, $lightness: -15%);
$primary-active-color: adjust-color($primary-color, $lightness: -25%);
$error-color: #c60f13;
$border-color: #DDD;
$font-color: #333;
$link-hover-color: #4183c4;

.top-buffer    { margin-top:    $buffer }
.bottom-buffer { margin-bottom: $buffer }

@mixin border($sides: left top right bottom, $width: 1px, $color: $border-color, $style: solid) {
  @each $side in $sides {
    border-#{$side}: $width $color $style;
  }
}

a {
  @extend a;
  color: $link-hover-color;
  
  &:hover {
    color: adjust-color($link-hover-color, $lightness: 8%);
  }
}

.menu-link {
  color: $font-color;
  
  &:hover {
    color: $link-hover-color;
  }
  &:focus {
    color: $link-hover-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $font-color;
}

.inline-list {
  position: relative;
  overflow: visible;
  float: left;
  left: 50%;
  
  li {
    position: relative;
    right: 50%;
  }
}

.rounded {
  @extend .radius;
}

.button {
  @extend .button.secondary;
  @extend .rounded;

  @include border;

  margin: 0;
  
  &:hover {
    background-color: $primary-hover-color;
  }
  &:focus {
    background-color: $primary-active-color;
  }
}

.button {
  @extend .button;
  @extend .tiny;
}

.dropdown {
  @extend .button;
  background-color: $primary-light-color;
  color: $font-color;
  &.tiny {
    &:after {
      border-color: $font-color transparent transparent transparent;
    }
  }
}

.dropdown-items {
  @extend .f-dropdown;
}

.editor-heading {
  background-color: $primary-color;
  border-radius: 3px 3px 0 0;
  padding: rem-calc(10) rem-calc(10);
  @include border(left top right);
}
  

.editor-body {
  height: rem-calc(400);
  border-radius: 0 0 3px 3px; 
  @include border;
}

.row {
  @extend .row;
}

.spaced-row {
  @extend .row;
  @extend .top-buffer;
}

.grid-sized {
  @extend .contain-to-grid;
  background-color: $primary-color;
  @include border(bottom);
}

.header {
  @extend .top-bar;
  @extend .hide-for-small;

  background-color: $primary-color;
  padding-bottom: 1px;

  .name h1 a {
    @extend .menu-link;
  }

  .header-section li:not(.has-form) a:not(.button) {
    background-color: $primary-color;
    @extend .menu-link;
  }
}

.header-section {
  @extend .top-bar-section;
}

.header-small {
  @extend .tab-bar;
  @extend .show-for-small;

  background-color: $primary-color;
  
  h1 a {
    @extend .menu-link;
    
    font-weight: normal;
    font-size: rem-calc(16);
  }
  
  .menu-icon span::after {
      box-shadow: 0 0px 0 1px $primary-hover-color, 
                  0 7px 0 1px $primary-hover-color,
                  0 14px 0 1px $primary-hover-color;
  }

  @include border(bottom);
}

.header-small-section {
  @extend .tab-bar-section;
  @extend .middle;
}

.left-small {
  @extend .left-small;
  
  @include border(right);
}

.console {
  @extend .panel;
  @extend .row;
  @extend .rounded;
  @extend .top-buffer;

  .waiting {
    color: $link-hover-color;
  }
  .stderr {
    color: $error-color;
  }
  .status {
    color: green;
  }
}

$footer-height: rem-calc(125);

html, body { height: 100%; }

body {
  margin: 0px;
  padding: 0px;
}

.content-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto ($footer-height * -1);
}

.content-wrap > *:last-child {
    padding-bottom: $footer-height + rem-calc(20);
}

#footer {
    height: $footer-height;
    background-color: $primary-color;
    @include border(top);
    
    a {
      @extend .menu-link;  
      
      color: $link-hover-color;
  
      &:hover {
        color: $font-color;
      }
      &:focus {
        color: $font-color;
      }
    }
}

.footer-text {
  color: $font-color;
  
  .icon-heart {
    color: red;
  }
  .inline-list {
    font-size: rem-calc(12);
  }
  
}

.circle-img {
  border-radius: 50%;
  box-shadow: 0 0 0 1px $border-color;
  @include border($width: 5px, $color: $primary-color);
}
