<%# Will not be render on small screens %>
<div class="grid-sized">

  <nav class="header" data-topbar role="navigation">

    <ul class="title-area">

      <li class="name">

        <h1><%= link_to(fa_icon('code', text: t('site.title')), root_path) %></h1>

      </li>

    </ul>

    <section class="header-section">

      <ul class="right">

        <%= render 'layouts/menu_links' %>

      </ul>

    </section>

  </nav>

</div>

<%# Will be render only on small screens %>
<nav class="header-small">

  <section class="left-small">

    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>

  </section>

  <section class="header-small-section">

    <h1 class="title"><%= link_to(fa_icon('code', text: t('site.title')), root_path) %></h1>

  </section>

</nav>
