<aside class="left-off-canvas-menu">

  <ul class="off-canvas-list">

    <li><label><%= t('site.title') %></label></li>

    <%= render 'layouts/links' %>

  </ul>

</aside>

<a class="exit-off-canvas"></a>